:root {
  --red: #721e42;
  --red-20: #a91547;
  --blue: #0067CC;
  --blue-20: #2e3a5b;
  --blue-40: #3a4972;
  --blue-60: #6477ac;
  --blue-80: #c7cfe4;
  --black: #333333;
  --black-20: #636363;
  --black-40: #c0c0c0;
  --black-60: #d8d8d8;
  --white: #ffffff;
  --white-20: #fbfbfb;
  --white-40: #ededed;

  --primary: var(--red);
  --secondary: var(--blue-20);
  --tertiary: var(--blue-40);
  --accent-primary: var(--red-20);
  --accent-secondary: var(--blue-60);
  --accent-tertiary: var(--blue-80);
  --cta-color: var(--blue);

  --bgColor: var(--white);
  --textColor: var(--black);

  --twitter: #00aced;
  --facebook: #3b5998;
  --google: #dd4b39;
  --youtube: #bb0000;

  --sheetBg: var(--white);
  --sheetHover: var(--white-20);
  --sheetTextColor: var(--black);
  --sheetShadow: 0px 0px 22px rgba(0, 0, 0, 0.4),
    0px 0px 4px rgba(0, 0, 0, 0.25);
  --pinnedColor: var(--primary);
  --cardBg: var(--white);

  --cardRadius: 15px;
  --buttonRadius: 3px;

  /* ? Fonts ? */
  /* * Family * */
  --font: 'Roboto', sans-serif;

  /* * Size * */
  --baseFontSize: 1rem;
  --baseNavSize: 1rem;
  --smallFontSize: 0.875rem;
  --smallestFontSize: 0.75rem;

  --cta-sm: var(--smallFontSize);
  --cta-med: var(--baseFontSize);
  --cta-lg: 1.125rem;

  --heading-hero: 3rem;
  --heading-one: 2.875rem;
  --heading-two: 2.25rem;
  --heading-three: 1.875rem;
  --heading-four: 1.5rem;
  --heading-five: 1.125rem;

  /* * Weight * */
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;
  --weight-black: 900
    /* ? Z-Index ? */
    --headerLevel: 10;
  --highestLevel: 100;

  /* ? Elevation ? */
  --elevation-0: inset 0 7px 9px -7px rgba(0, 0, 0, 0.7);
  --elevation-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --elevation-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0, 3px, 6px rgba(0, 0, 0, 0.23);
  --elevation-3: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  --elevation-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --elevation-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12x rgba(0, 0, 0, 0.22);

  /* ? Margin ? */
  --margin: 2.75rem 0 1rem;

  /* ? Header ? */
  --headerHeight: 73px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/* Remove discs from ul */
ul {
  list-style: none;
}

/* Reset forms and buttons */
input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}


input,
textarea {
  border: 1px solid gray;
}

button {
  border: none;
  background-color: transparent;
}

button * {
  pointer-events: none;
}

/* Responsive for media elements */
embed,
iframe,
img,
object,
video {
  display: block;
  max-width: 100%;
}

/* Table styles */
table {
  table-layout: auto;
  width: 100%;
}

/* Hidden */
[hidden] {
  display: hidden;
}

/* noscript styles */
noscript {
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
}

select {
  background: var(--sheetBg);
}

/* html {
  font-size: 16px;
}

:root {
  --baseNavSize: 1rem;
}

@media only screen and (min-width:1200px) {
  :root {
    --baseNavSize: 0.8rem;
  }

  html {
    font-size: 20px;
  }
} */

body {
  background-color: var(--bgColor);
  color: var(--textColor);
  font-family: var(--font);
  line-height: 1.5;
}

.dark-mode {
  --sheetBg: var(--black);
  --sheetHover: var(--black-20);
  --cardBg: var(--black);
  --sheetTextColor: var(--white);
  --sheetShadow: 0px 0px 22px rgba(0, 0, 0, 0.4) inset,
    0px 0px 4px rgba(0, 0, 0, 0.25) inset;
  --pinnedColor: var(--blue);
}

.card {
  background: var(--cardBg);
  border-radius: var(--cardRadius);
  box-shadow: var(--elevation-3);
  padding: 20px;
  position: relative;
  margin-bottom: 1rem;
  margin-top: 0;
}

h1 {
  font-size: var(--heading-one);
  color: var(--black);
  line-height: 54px;
  font-weight: var(--weight-light);
}

h2 {
  font-size: var(--heading-two);
  color: var(--blue-20);
  line-height: 42px;
  font-weight: var(--weight-bold);
}

h3 {
  font-size: var(--heading-three);
  color: var(--blue-20);
  line-height: 36px;
  font-weight: var(--weight-light);
}

h4 {
  font-size: var(--heading-four);
  color: var(--black);
  line-height: 22px;
  font-weight: var(--weight-medium);
}

h5 {
  font-size: var(--heading-five);
  color: var(--black);
  line-height: 24px;
  font-weight: var(--weight-regular);
}

p {
  line-height: 22px;
  margin: 1rem 0;
  color: var(--black);
  font-size: var(--baseFontSize);
  font-weight: var(--weight-regular);
}

p.small {
  font-size: var(--smallestFontSize);
  color: var(--black-60);
  line-height: 18px;
  font-weight: var(--weight-regular);
}

a {
  text-decoration: none;
}

/* ? Layouts ? */
.layout,
.layout-tight,
.layout-wide {
  margin: 60px auto 0;
  width: 95%;
  padding-bottom: 2rem;
  max-width: 95%;
}

.layout-tight {
  max-width: 940px;
}

.layout-wide {
  max-width: 1280px;
}

.cols,
.cols-reversed,
.cols-lg {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 65% 1fr;
}

.cols-reversed {
  grid-template-columns: 1fr 65%;
}

.cols-lg {
  grid-gap: 20px;
}

.container {
  position: relative;
  padding: 20px 0px 70px;
  min-height: 400px;
  margin-top: 8rem;
}

.flex {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-gap: 20px;
  margin: 0 auto;
}

.items {
  margin: 2.75rem 0 1rem;
}

.scroll {
  overflow-y: scroll;
  height: 100%;
}